p {
  color: #ab47bc;
  text-align: center;
  font-size: 20px;
}

.container {
  display: block;
  margin: 50px;
  padding: 20px;
  border-style: solid;
  border-color: #016ec6;
}

.row {
  padding: 10px;
  margin-top: 12px;
}

.rowWithMargin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.h1-class {
  color: #ab47bc;
  margin-top: 35px;
}

.h2-class {
  color: #ab47bc;
  margin-top: 35px;
}

.h4-class {
  color: #1bb2a8;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.purple {
  border-color: #ab47bc;
}

.pink {
  border-style: solid;
  border-color: #ff3366;
}

.orange {
  border-style: solid;
  border-color: #ffa826;
}

.col {
  color: #ff3366;
}

.city-date-placeholder {
  position: relative;
  border-style: solid;
  border-color: #ab47bc;
  margin: 0 3px 0 4px;
  display: inline-block;
  text-align: center;
}

.city-temp-placeholder {
  border-style: solid;
  color: #1bb2a8;
  margin-right: 10px;
}

form {
  margin-top: 7px;
}

.btn-success {
  margin-left: 5px;
  position: relative;
  margin-top: -8px;
}
