p {
  color: #ab47bc;
  text-align: center;
  font-size: 20px;
}

span {
  display: inline-block;
}

p::first-letter,
span::first-letter {
  text-transform: uppercase;
}

form {
  margin-top: 7px;
}

.container {
  display: block;
  margin: 50px;
  padding: 20px;
  border-style: solid;
  border-color: #016ec6;
}

.col {
  color: #ff3366;
}

.row {
  padding: 10px;
  margin-top: 12px;
}

.rowWithMargin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.h1-class {
  color: #ab47bc;
  margin-top: 35px;
}

.h2-class {
  color: #ab47bc;
}

.h4-class {
  color: #1bb2a8;
  margin-top: 30px;
  padding-bottom: 15px;
}

.purple {
  border-color: #ab47bc;
}

.pink {
  border-style: solid;
  border-color: #ff3366;
}

.orange {
  border-style: solid;
  border-color: #ffa826;
}

.city-date-placeholder {
  position: relative;
  border-style: solid;
  border-color: #ab47bc;
  margin: 0 3px 0 4px;
  display: inline-block;
  text-align: center;
}

.city-temp-placeholder {
  border-style: solid;
  color: #1bb2a8;
  margin-right: 10px;
}

.btn-success {
  margin-left: 5px;
  position: relative;
  margin-top: -8px;
}

.footer {
  text-align: left;
  font-size: 15px;
}

.city-date-placeholder .active {
  color: #ab47bc;
  cursor: default;
}

.city-date-placeholder .active:hover {
  text-decoration: none;
}

#forecast-placeholder {
  padding-left: 70px;
}
